@model FoodWuzUp.DAL.User

@{
    ViewBag.Title = "AuthenticatedIndex";
    List<FoodWuzUp.DAL.Restaurant> restaurants = ViewBag.Restaurants;
}

<div>
    <h2>@Model.Name</h2>
    @Html.DisplayFor(model => model.Description)
    <hr />
</div>

<div class="row">
    <div class="col-sm-6">
        @Html.Action("PartialIndex", "Groups")
        @Html.Action("PartialIndex", "Groups", new { ID = Model.ID, Parent = "Users" })
    </div>
    <div class="col-sm-6">
        @Html.Action("PartialIndex", "Restaurants")
    </div>
</div>
