@model FoodWuzUp.DAL.User

@{
    ViewBag.Title = "AuthenticatedIndex";
    List<FoodWuzUp.DAL.Restaurant> restaurants = ViewBag.Restaurants;
}

<h2>AuthenticatedIndex</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

<div class="row">
    <div class="col-sm-6">
        <h3>My Groups</h3>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
            </tr>

            @foreach (var item in Model.Groups)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </table>
        <p>
            <input type="button" value="Create" class="btn btn-default" id="groupCreate" />
        </p>

        <h3>My Memberships</h3>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Creator
                </th>
                <th>
                    Description
                </th>
            </tr>
            @foreach (var item in Model.Memberships)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parent.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parent.Creator.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parent.Description)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-sm-6">
        <h3>My Resturants</h3>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Group
                </th>
                <th>
                    Description
                </th>
            </tr>
            @foreach (var item in restaurants)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Details", "Restaurants", new { id = item.ID }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modeItem => item.Group.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </table>
        <p>
            <input type="button" value="Create" class="btn btn-default" id="restaurantCreate" />
        </p>
    </div>
</div>

<div id="createGroupModal" class="modal fade" data-url='@Url.Action("CreateModal", "Groups")'>
    <div id="groupCreateModalContainer"></div>
</div>

<div id="createRestaurantModal" class="modal fade" data-url='@Url.Action("CreateModal", "Restaurants")'>
    <div id="restaurantCreateModalContainer"></div>
</div>


@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $('#groupCreate').click(function () {
            var url = $('#createGroupModal').data('url');
            $.get(url, function (data) {
                $('#groupCreateModalContainer').html(data);
                $('#createGroupModal').modal('show');
            });
        });
    });
    $(document).ready(function () {
        $('#restaurantCreate').click(function () {
            var url = $('#createRestaurantModal').data('url');
            $.get(url, function (data) {
                $('#restaurantCreateModalContainer').html(data);
                $('#createRestaurantModal').modal('show');
            });
        });
    });
</script>