@model FoodWuzUp.DAL.Group

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="row">
    <div class="col-sm-6">
        <h3>Users</h3>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
            </tr>

            @foreach (var item in Model.Members)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Child.Name, "Details", "Users", new { id = item.ChildID }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Child.Description)
                    </td>
                </tr>
            }
        </table>
        <p>
            <input type="button" value="Create" class="btn btn-default" id="userGroupCreate" />
        </p>
</div>
        
    <div class="col-sm-6">
        <h3>My Resturants</h3>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Group
                </th>
                <th>
                    Description
                </th>
            </tr>
            @foreach (var item in Model.Restaurants)
            {
                <tr class="restaurantToolTip" title="" data-id=@item.ID>
                    <td>
                        @Html.ActionLink(item.Name, "Details", "Restaurants", new { id = item.ID }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modeItem => item.Group.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </table>
        <p>
            <input type="button" value="Create" class="btn btn-default" id="restaurantCreate" />
        </p>
    </div>
</div>
   
